{%  set article_show = path('article_show', {'slug':article.slug}) %}

<article class="mb-5">
    <div class="row">
        <div class="col-md-{{ leftCol ?? 5 }}">
               {% if article.getAttachment() is not null %}
                {% if article.getAttachment() ends with '.jpg' or article.getAttachment() ends with '.png' %}
                    <a href="{{ article_show }}">
                        <img src="{{ asset('uploads/attachments/' ~ article.getAttachment()) }}" alt="Media" loading="lazy" width="350" height="205">
                    </a>
                {% elseif article.getAttachment() ends with '.mp4' or article.getAttachment() ends with '.mov' or article.getAttachment() ends with '.avi' %}
                    <video width="350" height="205" controls>
                        <source src="{{ asset('uploads/attachments/' ~ article.getAttachment()) }}" type="video/mp4">
                        Votre navigateur ne supporte pas la vidéo.
                    </video>
                {% endif %}
            {% endif %}
        </div>
        <div class="col-md-{{ rightCol ?? 7 }}">
            <h2>
                <a class="text-decoration-none" href="{{ article_show }}">
                    {{ article.title }}
                </a>
            </h2>

            <p>
                {{ article.createdAt | date('d M Y') }}
            </p>
        </div>
    </div>
</article>