{%  set article_show = path('article_show', {'slug':article.slug}) %}

<article class="mb-5">
    <div class="row">
        <div class="col-md-{{ leftCol ?? 5 }}">
            {% if mediaFilePath %}
                <a href="{{article_show }}">
                    <img src="{{mediaFilePath}}" alt="Media" loading="lazy" width="350" height="205">
                </a>
            {% endif %}
        </div>
        <div class="col-md-{{ rightCol ?? 7 }}">
            <h2>
                <a class="text-decoration-none" href="{{ article_show }}">
                    {{ article.title }}
                </a>
            </h2>

            <p>
                {{ article.createdAt | date('d M Y') }}
            </p>
        </div>
    </div>
</article>