<nav class="py-2 bg-dark border-bottom">
    <div class="container justify-content-center d-flex flex-wrap">
        <a href="{{ path('app_home') }}" class="nav nav-link text-white">Acceuil</a>
        <div class="dropdown">
            <a class="nav nav-link text-white"
               role="button" href="{{ path('admin') }}">
                Gérer
            </a>
        </div>
        <li class="nav nav-item dropdown">
            <a class="text-white nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                Catégories
            </a>
            <ul class="dropdown-menu">
                <li>
                    {% for category in categories %}
                        <a class="dropdown-item" href="{{ path('category_show', {slug:category.slug}) }}">{{ category.name }}</a>
                    {% endfor %}
                </li>
            </ul>
        </li>
        <a class="nav nav-link text-white" role="button">
            Ajouter un article
        </a>
    </div>
</nav>
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
           href="{{ path('app_home') }}">
            <span class="fs-4">Rando-Florac</span>
        </a>
        <ul class="nav nav-pills">
            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('app_register') }}">S'inscire</a>
                </li>
                <li class="nav nav-pills">
                    <a class="nav-link active" aria-current="page" href="{{ path('app_login') }}">Se connecter</a>
                </li>
            {% else %}
                <div class="dropdown">
                    <a class="nav nav-link text-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        {{ app.user.username|capitalize }}
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('user', { 'username': app.user.username }) }}" class="dropdown-item">Mon profil</a>
                        </li>
                        <li>
                            <a href="{{ path('app_logout') }}" class="dropdown-item">Déconnexion</a>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </ul>
    </header>
</div>