<div class="col-sm-6">
    <div class="blog-grid">
        <div class="blog-img">
            <div class="date"><p>{{ article.createdAt | date('d M Y') }}</p></div>
            {% if article.media %}
            <a href="{{article_show }}"> <img src="/uploads/{{ article.media.filename }}" title="" alt="{{ article.media.altText }}" loading="lazy" class="img-fluid" width="100%"></a></div>
            {% endif %}
        <div class="blog-info"><h5><a class="text-decoration-none" href="{{ article_show }}">
                    {{ article.title }}
                </a></h5>
            <div class="btn-bar"><a href="#" class="px-btn-arrow"> <span>Read More</span> <i class="arrow"></i> </a>
            </div>
        </div>
    </div>
</div>